@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900,900i|Poppins:400,600,700,800,900&display=swap");
/*Colors*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat";
}

.heading {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.heading h3 {
  font-size: 24px;
  font-weight: 800;
}

.heading p {
  font-size: 14px;
  color: #aeaeae;
}

.nav-bar {
  background-color: #1e272e;
  height: 100px;
  z-index: 2;
}

.nav-bar img {
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 45px;
}

.nav-bar ul {
  list-style: none;
  float: right;
  height: 100%;
  margin-right: 25px;
}

.nav-bar ul li {
  display: inline-block;
  position: relative;
  padding: 40px 20px;
  transition: .5s ease;
  border: none;
}

.nav-bar ul li:hover {
  border-bottom: 4px solid #B98B59;
}

.nav-bar ul li a {
  width: 45px;
  height: 10px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  background: #1e272e;
  background-image: url("../images/Bg_img_01.png");
  position: relative;
}

.hero .hero-container {
  text-align: center;
  padding-top: 150px;
}

.hero .hero-container h1 {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 1000;
  color: #B98B59;
}

.hero .hero-container h1:first-of-type {
  color: #FFFFFF;
}

.hero .hero-container p {
  color: #FFFFFF;
  font-size: 24px;
  font-family: "Montserrat - Semi Bold";
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hero .hero-container .button {
  width: 194px;
  height: 45px;
  background-color: #B98B59;
  text-transform: uppercase;
  font-size: 12px;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: .5s ease-out;
}

.hero .hero-container .button:hover {
  background-color: #F7F7F7;
  color: #B98B59;
  font-weight: 1000;
  border: 3px solid #B98B59;
}

.hero .hero-container .button:hover {
  background-color: #1e272e;
}

.hero .phonecall {
  position: absolute;
  right: 5%;
  bottom: -5%;
}

.hero .phonecall:hover {
  cursor: pointer;
}

.about {
  padding: 120px 0 30px 0;
  background-color: #F7F7F7;
}

.about .about-content {
  margin: 0 75px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about .about-content p {
  width: 600px;
  color: #1e272e;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  margin: 25px auto;
  text-align: center;
}

.about .about-content video {
  width: 320px;
  vertical-align: baseline;
  margin-left: 150px;
}

.about .button {
  width: 194px;
  height: 45px;
  background-color: #B98B59;
  text-transform: uppercase;
  font-size: 12px;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: .5s ease-out;
  margin-left: 15%;
}

.about .button:hover {
  background-color: #F7F7F7;
  color: #B98B59;
  font-weight: 1000;
  border: 3px solid #B98B59;
}

.services {
  background: #1e272e;
  padding: 120px 0 30px 0;
}

.services .heading {
  color: #FFFFFF;
}

.services .services-content {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}

.services .services-content .service {
  display: inline-block;
  max-width: 285px;
  height: 240px;
  padding: 20px 25px;
  width: 24%;
  border-left: 5px solid #FFFFFF;
}

.services .services-content .service:last-of-type {
  border-right: 5px solid #FFFFFF;
}

.services .services-content .service img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.services .services-content .service h3 {
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.services .services-content .service p {
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.projects {
  padding: 120px 0 30px 0;
  background-color: #F7F7F7;
}

.projects .projects-list {
  background: #ededed;
  border: 3px solid #d0d0d0;
  border-radius: 25px;
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.projects .projects-list ul {
  list-style-type: none;
  align-self: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 14px;
}

.projects .projects-list ul li {
  display: inline-block;
  padding: 15px 25px 10px 25px;
  transition: .5s ease-out;
  border-right: 1px solid #d0d0d0;
}

.projects .projects-list ul li:first-of-type {
  margin-left: 30px;
}

.projects .projects-list ul li:last-of-type {
  border: none;
}

.projects .projects-list ul li:hover {
  border-bottom: 2px solid #B98B59;
  cursor: pointer;
}

.projects .projects-content {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

.projects .projects-content .projects-img {
  display: inline-block;
  width: 20%;
  margin: 2%;
  position: relative;
}

.projects .projects-content .projects-img img {
  margin: 0;
  height: auto;
  width: 290px;
  height: 165px;
}

.projects .projects-content .projects-img .overlay {
  width: 290px;
  height: 165px;
  position: absolute;
  opacity: 0;
  transition: .5s ease-in-out;
  top: 0;
  left: 0;
  background-color: #1e272e;
}

.projects .projects-content .projects-img .overlay .overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects .projects-content .projects-img .overlay .overlay-text h3 {
  text-transform: uppercase;
}

.projects .projects-content .projects-img:hover .overlay {
  opacity: 0.7;
  cursor: pointer;
}

.projects .button {
  width: 194px;
  height: 45px;
  background-color: #B98B59;
  text-transform: uppercase;
  font-size: 12px;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: .5s ease-out;
  display: block;
  margin: 0 auto;
}

.projects .button:hover {
  background-color: #F7F7F7;
  color: #B98B59;
  font-weight: 1000;
  border: 3px solid #B98B59;
}

.team {
  background-image: url("../images/Bgimage.png");
  background-color: #1e272e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0 30px 0;
}

.team .heading {
  color: #FFFFFF;
}

.team .team-content {
  width: 80%;
  margin: 50px auto;
}

.team .team-content .team-member {
  display: inline-block;
  width: 306px;
  height: 400px;
  margin: 45px;
  background-color: #FFFFFF;
}

.team .team-content .team-member img {
  display: block;
  margin: 25px auto;
}

.team .team-content .team-member h4 {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 600;
  margin: 25px 0;
}

.team .team-content .team-member p {
  text-align: center;
  font-family: 'Montserrat';
  margin: 25px 0;
}

.team .team-content .team-member .team-icons {
  width: 100%;
}

.team .team-content .team-member .team-icons i {
  height: 33px;
  width: 33px;
  padding: 10px;
  border-radius: 50%;
  margin: 3px;
  background: #bebebe;
  color: #FFFFFF;
  background-size: 70px 70px;
  transition: .5s ease-in;
}

.team .team-content .team-member .team-icons i:hover {
  background: #B98B59;
  cursor: pointer;
}

.clients {
  background-color: #F7F7F7;
  padding: 120px 0 30px 0;
}

.clients .heading {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.clients .heading h3 {
  font-size: 24px;
  font-weight: 800;
}

.clients .heading p {
  font-size: 14px;
  color: #aeaeae;
}

.clients .clients-content {
  display: block;
  margin: 20px auto;
}

.clients .clients-content img {
  display: block;
  margin: 35px auto;
}

.clients .clients-content h3 {
  color: #1e272e;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  margin: 20px auto;
}

.clients .clients-content p {
  color: #1e272e;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.clients .clients-content p:last-of-type {
  color: #7e7e7e;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  width: 60%;
  display: block;
  margin: 0 auto;
}

.patrons {
  width: 100%;
  margin: 50px auto;
}

.patrons img {
  margin-left: 55px;
  padding: 40px;
}

.price {
  background-color: #F7F7F7;
}

.price .container {
  width: 70%;
  margin: 25px auto;
}

.price .container .price-border {
  background: #FFFFFF;
  width: 255px;
  height: 343px;
  text-align: center;
  padding: 25px 0 25px 0;
  display: inline-block;
}

.price .container .price-border h3 {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #242424;
}

.price .container .price-border p {
  color: #242424;
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 900;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 4.8px;
}

.price .container .price-border p span {
  font-size: 10px;
}

.price .container .price-border ul {
  list-style-type: none;
  padding: 0;
}

.price .container .price-border ul li {
  color: #7e7e7e;
  font-family: 'Montserrat';
  font-size: 10px;
  font-weight: 550;
  line-height: 13px;
}

.price .container .price-border .button {
  width: 194px;
  height: 45px;
  background-color: #B98B59;
  text-transform: uppercase;
  font-size: 12px;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: .5s ease-out;
  background-color: #1e272e;
  margin-top: 20px;
}

.price .container .price-border .button:hover {
  background-color: #F7F7F7;
  color: #B98B59;
  font-weight: 1000;
  border: 3px solid #B98B59;
}

.price .container .price-border .button:hover {
  background-color: #B98B59;
  color: #FFFFFF;
}

.premium {
  padding: 120px 0 30px 0;
}

.premium .premium-content {
  margin: 75px 0 0 60px;
  width: 100%;
}

.premium .premium-content .premium-img {
  width: 40%;
}

.premium .premium-content .feature {
  float: right;
  display: block;
  width: 40%;
  margin: 75px 60px 0 0;
  position: relative;
}

.premium .premium-content .feature img {
  position: absolute;
  left: -115px;
}

.premium .premium-content .feature .feature-content {
  margin-bottom: 30px;
}

.premium .premium-content .feature .feature-content h3 {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 750;
}

.premium .premium-content .feature .feature-content p {
  max-width: 450px;
  color: #1e272e;
}

.premium .premium-content .feature .feature-content ul {
  list-style-type: none;
  margin-top: 10px;
}

.premium .premium-content .feature .feature-content ul li {
  color: #1e272e;
  text-transform: uppercase;
}

.premium .premium-line {
  content: "";
  width: 1000px;
  border: 0.5px solid #1e272e;
  display: block;
  margin: 25px auto;
}

.premium .button {
  width: 194px;
  height: 45px;
  background-color: #B98B59;
  text-transform: uppercase;
  font-size: 12px;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: .5s ease-out;
  display: block;
  margin: 20px auto;
}

.premium .button:hover {
  background-color: #F7F7F7;
  color: #B98B59;
  font-weight: 1000;
  border: 3px solid #B98B59;
}

.facts {
  padding: 120px 0 30px 0;
  background-color: #1e272e;
}

.facts .heading {
  color: #FFFFFF;
}

.facts .facts-content {
  width: 90%;
  display: block;
  margin: 20px auto;
}

.facts .facts-content .facts-numbers {
  width: 20%;
  display: inline-block;
  padding: 30px;
  margin-right: 60px;
  text-align: center;
}

.facts .facts-content .facts-numbers:first-of-type {
  margin-left: 10px;
}

.facts .facts-content .facts-numbers h4 {
  color: #B98B59;
  font-size: 32px;
}

.facts .facts-content .facts-numbers .facts-line {
  content: "";
  width: 30px;
  border: 1px solid #F7F7F7;
  display: block;
  margin: 25px auto;
}

.facts .facts-content .facts-numbers h5 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  height: 30px;
  max-width: 170px;
  display: block;
  margin: 15px auto;
}

.facts .facts-content .facts-numbers p {
  width: 200px;
  display: block;
  margin: 25px auto;
  color: #F7F7F7;
}

.icon-bar {
  padding: 50px;
  width: 80%;
  margin: 0 auto;
}

.icon-bar .icon {
  display: inline-block;
  margin: 0 auto;
  margin-right: 100px;
}

.icon-bar .icon:first-of-type {
  margin-left: 50px;
}

.icon-bar .icon p {
  display: inline-block;
  color: #1e272e;
  font-weight: 600;
  margin-left: 1px;
}

.contact {
  padding: 120px 0 30px 0;
  background-color: #F7F7F7;
}

.contact .contact-content {
  width: 100%;
  max-width: 520px;
  margin: 20px auto;
  display: block;
}

.contact .contact-content form input {
  border: none;
  border-bottom: 2px solid #8b8b8b;
  background: #F7F7F7;
  width: 250px;
  margin: 25px 5px;
  text-transform: uppercase;
  display: inline-block;
}

.contact .contact-content form input:nth-of-type(2) {
  float: right;
}

.contact .contact-content form input:last-of-type {
  width: 520px;
  display: block;
}

.contact .contact-content form textarea {
  width: 520px;
  height: 50px;
  margin: 15px 5px;
  border: none;
  border-bottom: 2px solid #8b8b8b;
  text-transform: uppercase;
  background: #F7F7F7;
}

.contact .contact-content form .button {
  width: 194px;
  height: 45px;
  background-color: #B98B59;
  text-transform: uppercase;
  font-size: 12px;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: .5s ease-out;
  display: block;
  margin: 20px auto;
}

.contact .contact-content form .button:hover {
  background-color: #F7F7F7;
  color: #B98B59;
  font-weight: 1000;
  border: 3px solid #B98B59;
}

.map {
  background-image: url("../images/Map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 25px 0;
}

.map .map-content {
  margin: 25px 0 25px 150px;
}

.map .map-content .address {
  background-color: #FFFFFF;
  width: 500px;
}

.map .map-content .address ul {
  list-style-type: none;
}

.map .map-content .address ul li {
  margin: 15px 0;
  display: inline-block;
}

.map .map-content .address ul li:nth-of-type(3) {
  margin-right: 30px;
}

.map .map-content .address ul li:nth-of-type(4) {
  margin-right: 35px;
}

.map .map-content .address ul li img {
  float: left;
  margin-left: 20px;
}

.map .map-content .address ul li p {
  margin: 7px;
  display: inline-block;
}

footer {
  background: #1e272e;
  color: #FFFFFF;
  padding: 25px 0;
  position: relative;
}

footer .container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer .container .awax {
  color: #FFFFFF;
  margin-bottom: 0;
  position: absolute;
  bottom: 30px;
  left: 15%;
  text-transform: uppercase;
}

footer .container .col-3 {
  width: 25%;
  align-self: center;
}

footer .container .col-3 p {
  font-size: 15px;
  color: #F7F7F7;
}

footer .container .col-3 .team-icons {
  width: 100%;
}

footer .container .col-3 .team-icons i {
  height: 33px;
  width: 33px;
  padding: 10px;
  border-radius: 50%;
  margin: 3px;
  background: #bebebe;
  color: #FFFFFF;
  background-size: 70px 70px;
  transition: .5s ease-in;
}

footer .container .col-3 .team-icons i:hover {
  background: #B98B59;
  cursor: pointer;
}

footer .container .col-3:nth-child(1) {
  align-self: flex-start;
  width: 300px;
}

footer .container .col-3::last-of-type {
  float: right;
}

footer .container .col-3 .footer-box {
  width: 350px;
  height: 200px;
  background: #373737;
  text-align: center;
  padding: 50px 0;
}

footer .container .col-3 .footer-box input {
  display: block;
  color: #F7F7F7;
  text-transform: uppercase;
  margin: 0 auto;
  background-color: #373737;
  border: none;
}

footer .container .col-3 .footer-box .footer-line {
  content: "";
  width: 150px;
  border: 1px solid #F7F7F7;
  display: block;
  margin: 25px auto;
}

footer .container .col-3 .footer-box .button {
  width: 194px;
  height: 45px;
  background-color: #B98B59;
  text-transform: uppercase;
  font-size: 12px;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: .5s ease-out;
}

footer .container .col-3 .footer-box .button:hover {
  background-color: #F7F7F7;
  color: #B98B59;
  font-weight: 1000;
  border: 3px solid #B98B59;
}

footer .container .col-3 .footer-box .button:hover {
  background-color: #373737;
}

footer .scroll-up {
  position: absolute;
  left: 5%;
  top: -10%;
}

/*# sourceMappingURL=style.css.map */